.khoj {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/6711867/pexels-photo-6711867.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;

  }
  
  .khojTitle {
    font-size: 50px;
  }
  
  .khojForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .khojForm > label {
    margin: 10px 0;
  }
  
  .khojInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .khojInput:focus {
    outline: none;
  }
  
  .khojButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(5, 83, 57);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

.result{
    margin-top: 30px;

}
.resultLabel{
    margin-right: 5px;
    font-weight: 600;
    font-size: 20px;
}

.resultSpan{
  font-size: 18px;
  font-weight: 600;
}